<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinometer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:theme="@style/Theme.Clinometer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/racemoto_logo"
        android:label="@string/racemoto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".RacesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CountdownActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <service
            android:name=".ForegroundService"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.FOREGROUND_SERVICE"/>

    </application>
</manifest>