<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clinometer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:theme="@style/Theme.DragMe"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/drag_me_logo"
        android:label="@string/dragme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainMapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true"
            >

        </activity>

        <activity
            android:name=".FirstProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GarageActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".RacesActivity"
            android:exported="false"/>

        <activity
            android:name=".MapActivity"
            android:exported="false"
            />

        <activity
            android:name=".CountdownActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/>
        <activity
            android:name=".TrackActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDetailActivity"
            android:parentActivityName=".GarageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GarageActivity" />
        </activity>

        <activity
            android:name=".DragPageActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".drag.DragRunPageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".DragSessionDetailsActivity"
           />



        <service
            android:name=".ForegroundService"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.FOREGROUND_SERVICE"/>

    </application>
</manifest>